body {
  --prim-border: white;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1ref);
}

h2 {
  text-align: center;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  & div {
    display: flex;
    --gap: 5px;
    gap: var(--gap);
    margin-bottom: var(--gap);
  }
}

span {
  box-sizing: border-box;
  border: 1px solid var(--prim-border);
  color: var(--prim-border);

  --dimention: 40px;
  width: var(--dimention);
  height: var(--dimention);

      font-size: 1.25em;
    font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
}

section[role="navigation"] {
  & div:has(button) {
    display: flex;
    gap: 3px;

    box-sizing: border-box;
  }

  & button {
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 0 solid var(--prim-border);

    font-size: 1.25em;
    font-weight: bold;
    border-radius: 4px;
    background-color: #818384;
    color: var(--prim-border);
    padding: 1rem;
  }
  & button[name="Enter"] {
    font-size: 0.5em;
    width: fit-content;
  }
}

/* For narrow in landscape */
@media screen and (orientation: landscape) and (width >= 700px) and (height >= 400px) {
  button {
    --dimention: 40px;
    width: var(--dimention);
    height: var(--dimention);
    font-size: 1.5rem;
    vertical-align: middle;
    align-content: center;
  }

  button[name="Enter"] {
    width: fit-content;
  }
  button[name="Backspace"] {
    width: fit-content;
  }
}

/* For hight but narrow in portrait*/
@media screen and (height >= 590px) {
  h2 {
    font-size: 3rem;
  }
  span {
    --dimention: 43px;
    width: var(--dimention);
    height: var(--dimention);
  }
}
